/* Load Google Fonts */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

/* -------------------------------
   🎨 ArtAlive Brand CSS Variables
-------------------------------- */
:root {
  --font-primary: "Oswald", sans-serif;

  --font-secondary: "Open Sans", sans-serif;

  --color-bg: #f9fafc;
  --color-surface: #eef1f5;

  --color-text-primary: #2d2d73; /* Deep Indigo */
  --color-text-secondary: #29292b; /* Slate Gray */

  --color-orange: #ffa113; /* Flame Orange */

  --color-blue: #00afe0;
  /* --color-border: #d9e3ec; Light Blue Gray */
  --animation: all ease-in-out 0.5s;
}

/* -------------------------------
   🌐 Global Reset & Typography
-------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html {
  font-family: var(--font-secondary);
  background-color: var(--color-bg);
  color: var(--color-text-secondary);
  line-height: 1.6;
  letter-spacing: 0 !important;
  /* overflow-x: hidden; */
  /* width: 100%; */
  /* max-width: 100dvw; */
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* [data-aos] {
  will-change: transform, opacity;
  backface-visibility: hidden;
  perspective: 1000px;
  overflow-x: hidden;
} */

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


p,
a {
  color: var(--color-text-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400 !important;
  margin: 0;
  font-family: var(--font-primary);
  color: var(--color-text-primary);
}

/* -------------------------------
   🧱 Buttons & CTAs
-------------------------------- */
.button {
  background-color: var(--color-orange);
  color: var(--color-bg);
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  font-family: var(--font-secondary --font-secondary);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  transition: all 0.3s ease;
  background-color: var(--color-blue);
}

.button1 {
  /* background: linear-gradient(270deg, var(--color-orange), var(--color-blue)); */
  background-color: var(--color-orange);

  color: var(--color-bg);
  border: none;
  border-radius: 25px;
  padding: 12px 24px;
  font-family: var(--font-secondary);
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button1:hover {
  transition: all 0.3s ease;
  background-color: var(--color-blue);
  color: var(--color-bg);
}

.button2 {
  background-color: var(--color-bg);
  color: var(--color-text-secondary);
  border: none;
  border-radius: 25px;
  padding: 12px 24px;
  font-family: var(--font-secondary --font-secondary);
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button2:hover {
  transition: all 0.3s ease;
  background-color: var(--color-blue);
  color: var(--color-bg);
}

.button3 {
  background-color: var(--color-text-primary);
  color: var(--color-bg);
  border: none;
  border-radius: 25px;
  padding: 12px 24px;
  font-family: var(--font-secondary);
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button3:hover {
  transition: all 0.3s ease;
  background-color: var(--color-blue);
  color: var(--color-bg);
}

/* a {
  color: var(--color-text-primary);
  text-decoration: none;
  transition: 0.2s;
}

a:hover {
  color: var(--color-orange) ;
} */

.gradient-text {
  background: linear-gradient(
    130deg,
    var(--color-blue) 0%,
    var(--color-orange) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* For Firefox */
  text-fill-color: var(
    --color-text-secondary
  ); /* Fallback for older browsers */
}

.bg-section-white {
  background-color: var(--color-surface);
}

.bg-section {
  background-color: var(--color-bg) !important;
}

.white {
  color: var(--color-bg);
}

.black {
  color: var(--color-text-secondary) !important;
}

.black-1 {
  color: var(--color-text-primary) !important;
}

.rounded {
  border-radius: 16px !important;
}

.bi {
  font-size: 20px !important;
}
